.dndflow {
    flex-direction: column;
    display: flex;
    height: 100%;

    aside {
        border-right: 1px solid #eee;
        padding: 15px 10px;
        font-size: 12px;
        // background: #fcfcfc;
    }

    aside .description {
        margin-bottom: 10px;
    }

    .dndnode {
        height: 20px;
        padding: 4px;
        border: 1px solid #1a192b;
        border-radius: 2px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: grab;
    }

    .dndnode.input {
        // width: 20px;
        border-color: #0041d0;
    }

    .dndnode.output {
        border-color: #ff0072;
    }

    .reactflow-wrapper {
        flex-grow: 1;
        height: 100%;
    }
}

@media screen and (min-width: 768px) {
    .dndflow {
        flex-direction: row;
    }

    .dndflow aside {
        width: 20%;
        max-width: 250px;
    }
}

.react-flow {
    .react-flow__renderer {
        .react-flow__nodes {
            .react-flow__node {
                .react-flow__handle {
                    width: 20px;
                    height: 20px;

                    &.react-flow__handle-bottom {
                        bottom: -10px;
                    }
                    &.react-flow__handle-top {
                        top: -10px;
                    }
                }
            }
        }
    }
}
