@import "../master";

$iconSize: 3rem;

.messages {
    display: flex;
    align-items: center;
    justify-content: center;

    .users {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: content;
        height: 100%;
        overflow: auto;
        background: rgba(110, 104, 104, 0);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(4px);
        // border-radius: 10px;

        // &.dark {
        //     background: $transparent-dark;
        // }

        // &.light {
        //     z-index: -1;
        //     background: $transparent-light;
        // }

        .user-bubble {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            margin: 1rem;
            margin-bottom: 0.5rem;
            border-radius: 0.4rem;
            background: none;

            &.selected {
                &.dark {
                    background: $selected-dark;
                }

                &.light {
                    // background: magenta;
                    background: $selected-light;
                }
            }

            .icon {
                width: $iconSize;
                border-radius: 50%;
                height: $iconSize;
                background-color: black;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                font-weight: 800;
                text-transform: capitalize;
            }
            text-align: center;
        }
    }

    .content {
        &.dark {
            background: $bg2-dark;
            & > * {
                background: $accent2-dark;
            }
        }

        &.light {
            background: $bg2-light;
            & > * {
                background: $bg-light;
            }
        }
        flex-grow: 1;
        width: 100%;
        height: 100%;
        overflow: auto;
        .to {
            &.dark {
                background: $bg2-dark;
            }

            // & < has(.dark) {
            //     // background: $bg2-light;
            //     background: magenta;
            // }
            padding: 1rem;
        }
        .thread {
            width: 100%;
            background: brown;
        }
    }
}
