@import "../master";

$iconSize: 3rem;

.messages {
    display: flex;
    align-items: center;
    justify-content: center;

    .users {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: content;
        height: 100%;
        overflow: auto;
        overflow-y: scroll; /* has to be scroll, not auto */
        -webkit-overflow-scrolling: touch;

        .user-bubble {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            margin: 1rem;
            margin-bottom: 0.5rem;
            border-radius: 0.4rem;
            background: none;

            &.selected {
                &.dark {
                    background: $selected-dark;
                }

                &.light {
                    background: $selected-light;
                }
            }

            .icon {
                width: $iconSize;
                height: $iconSize;
                border-radius: 50%;
                background-color: black;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                font-weight: 800;
                text-transform: capitalize;
            }
            text-align: center;
        }
    }

    .content {
        &.dark {
            background: $bg2-dark;
            & > * {
                background: $accent2-dark;
            }
        }

        &.light {
            background: $bg2-light;
            & > * {
                background: $bg-light;
            }
        }
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 100%;
        height: 100%;
        overflow: auto;
        .to {
            &.dark {
                background: $bg2-dark;
            }
            padding: 1rem;
        }
        .thread {
            width: 100%;
            flex-grow: 1;
            &.dark {
                background: $bg2-dark;
            }
            &.light {
                background: $bg2-light;
            }
        }
        .send-message {
            padding: 0.5rem;
            background: $bg-light;
            form {
                background: $bg-light;
                input[type="text"] {
                    width: 80%;
                    padding: 0.3rem;
                    border: 1px solid $accent1-light;
                    border-radius: 1em;
                    outline: none;
                }
            }
        }
    }
}
