// Global Styling Colors

// Light Theme
$bg-light: whitesmoke;
$selected-light: floralwhite;
$text-light: black;

// Dark Theme
$bg-dark: rgb(21, 21, 43);
$selected-dark: rgb(34, 33, 36);
$text-dark: whitesmoke;