// Global Styling Colors

// Light Theme
$bg-light: whitesmoke;
$bg2-light: rgb(206, 206, 206);
$selected-light: floralwhite;
$accent1-light: rgb(235, 234, 234);
$text-light: black;

// Dark Theme
$bg-dark: rgb(21, 21, 43);
$bg2-dark: rgb(57, 57, 72);
$selected-dark: rgb(34, 33, 36);
$accent1-dark:rgb(35, 25, 42);

$text-dark: whitesmoke;