@import "./master";
$borderRadius: 0.7rem;
html,
body {
    background-image: url("./backgroundimg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: $text-dark;
    overflow: hidden;
}

.glassy {
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 0.7rem;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
    position: absolute;
}

.app {
    &.dark {
        background: $transparent-dark;
    }
    &.light {
        background: $transparent-light;
    }

    h2,
    h3,
    p {
        margin-left: 1rem;
        text-transform: capitalize;
    }
    .app-body {
        position: relative;
        height: 100%;
        & > * {
            height: 100%;
        }

        .bright {
            border-bottom-right-radius: $borderRadius;
        }
        .bleft {
            border-bottom-left-radius: $borderRadius;
        }
    }

    .top-bar {
        border-top-left-radius: 0.7rem;
        border-top-right-radius: 0.7rem;
        display: flex;
        // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
        &.dark {
            background: $accent1-dark;
        }
        &.light {
            background: $accent1-light;
        }
        & > * {
            border-radius: 50%;
            width: 1em;
            height: 1em;
            text-align: center;
            vertical-align: auto;
            &.exit,
            &.minimize,
            &.maximize {
                background-color: darkgrey;
            }

            &.barName {
                flex-grow: 1;
                flex-basis: content;
                flex-shrink: -1;
            }
            padding: 0.1rem;
            margin: 0.4rem;
            cursor: pointer;
        }
    }
}

.dock {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 500px;
    height: 2rem;
    margin: 2rem auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.app-shortcut {
    margin: 0.3rem;

    .icon {
        border-radius: 1rem;
        background-color: blue;
        width: 4rem;
        height: 4rem;
        transition: all 0.1s ease-in-out;
        transform-origin: bottom;
        &:hover {
            transform: scale(1.05) translateY(-0.4rem);
        }
    }

    text-align: center;
}

input:focus::placeholder {
    color: transparent;
}
