$bg: rgb(21, 21, 43);
$appBg: whitesmoke;

body {
    background-color: $bg;
    color: white;
    overflow: hidden;
}

.app {
    background-color: grey;
    border-radius: 0.7rem;
    display: inline-block;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    position: absolute;
    h2 {
        margin-left: 1em;
        text-transform: capitalize;
    }

    .top-bar {
        border-top-left-radius: 0.7rem;
        border-top-right-radius: 0.7rem;
        background-color: darkgray;
        display: flex;
        box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.5);
        & > * {
            border-radius: 50%;
            width: 1em;
            height: 1em;
            text-align: center;
            vertical-align: auto;
            &.exit,
            &.minimize,
            &.maximize {
                background-color: lightgrey;
            }

            &.barName {
                flex-grow: 1;
                flex-basis: content;
                flex-shrink: -1;
            }
            padding: 0.1rem;
            margin: 0.4rem;
            cursor: pointer;
        }
    }
}

.dock {
    // background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 500px;
    height: 2rem;
    margin: 2rem auto; /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;
    bottom: 0;
}

.app-shortcut {
    margin: 0.3rem;

    .icon {
        border-radius: 1rem;
        background-color: blue;
        width: 4rem;
        height: 4rem;
        transition: all 0.1s ease-in-out;
        transform-origin: bottom;
        &:hover {
            transform: scale(1.05) translateY(-0.4rem);
        }
    }

    text-align: center;
}
